body {
    background-color: #ff5487;
}

#main{
    background-color: #000000;
}

#calculate{
    background-color: #00ced1;
}

.badge{
    background-color: #5b5255;
}

.table{
    background-color:#ffffff;
}
